.btnNav {
    -fx-font-size: 20px; /* Tamaño del texto */
    -fx-font-weight: bold; /* Texto en negrita (opcional) */
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.titleBar {
    -fx-background-color: #3c3f41;
    -fx-padding: 1px;
}

#btnClose:hover {
    -fx-background-color: red;
}

#btnClose:pressed{
    -fx-background-color: rgba(255, 0, 0, 0.57);
}

#btnMax:hover {
    -fx-background-color: rgba(128, 128, 128, 0.57);
}

#btnMax:pressed{
    -fx-background-color: rgba(128, 128, 128, 0.29);
}

#btnMin:hover {
    -fx-background-color: rgba(128, 128, 128, 0.57);
}

#btnMin:pressed{
    -fx-background-color: rgba(128, 128, 128, 0.29);
}

Label {
    -fx-text-fill: white;
    -fx-font-size: 16px;
}

.btnAction {
    -fx-font-size: 15px;
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-border-color: white;
}

#lineNumbers {
    -fx-control-inner-background: #1e1f22;
    -fx-cell-size: 20px; /* 🔹 Ajuste fino para alineación con `codeEditor` */
    -fx-text-fill: white;
    -fx-font-size: 13px; /* 🔹 Números más pequeños para que no dominen el espacio */
    -fx-font-family: "Courier New";
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-border-color: transparent;
}

#lineNumbers .list-cell {
    -fx-padding: 2px 0px; /* 🔹 Reduce el espacio entre números */
    -fx-font-size: 13px; /* 🔹 Tamaño acorde a `lineNumbers` */
}

#codeEditor {
    -fx-control-inner-background: #1e1f22;
    -fx-text-fill: #c0c6d1;
    -fx-font-size: 17px;
    -fx-font-family: "Courier New";
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-border-color: transparent;
}

#outputArea{
    -fx-control-inner-background: #1e1f22;
    -fx-text-fill: #c0c6d1;
    -fx-font-size: 13px;
    -fx-font-family: "Courier New";
    -fx-focus-color: transparent;
}